@use '../../utils/' as * ;

/*============= CTA CSS AREA ===============*/
.cta1-section-area {
    position: relative;
    z-index: 1;
    background: var(--ztc-bg-bg-3);
    .cta-header {
        h2 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s44);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 54px;
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }       
        }
        .btn-area1 {
            .vl-btn1 {
                background: var(--ztc-bg-bg-1);
                color: var(--ztc-text-text-4);
                &:hover {
                    color: var(--ztc-text-text-1);
                }
                &::before {
                    background: var(--ztc-text-text-4);
                    opacity: 10%;
                }
            }
            .vl-btn1.btn2 {
                border: 1px solid var(--ztc-text-text-1);
                margin-left: 16px;
                background: transparent;
                color: var(--ztc-text-text-1);
                @media #{$xs} {
                    margin-left: 0;
                    margin-top: 20px;
                }
                &::before {
                    background: var(--ztc-bg-bg-1);
                    opacity: 10%;
                }
                &:hover {
                    border: 1px solid var(--ztc-text-text-2);
                }
            }
        }
    }
    .img1 {
        img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            @media #{$xs} {
                position: relative;
                width: 100%;
                top: 40px;
            }
            @media #{$md} {
                position: relative;
                width: 100%;
                top: 40px;
            }
        }
    }
}

// Homepage 02 //
.cta2-section-area {
    position: relative;
    z-index: 2;
    .cta-bg-area {
        background: var(--ztc-bg-bg-5);
        border-radius: 8px;
        padding: 70px 60px;
        z-index: 2;
        position: relative;
        margin-bottom: -125px;
        @media #{$xs} {
            padding: 30px;
        }
        @media #{$md} {
            padding: 30px;
        }

        .cta-form-area {
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$md} {
                margin-top: 30px;
            }
            form {
                position: relative;
                z-index: 1;
                input {
                    width: 100%;
                    color: var(--ztc-text-text-7);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;  
                    background: var(--ztc-bg-bg-1);
                    border-radius: 8px;
                    padding: 24px 16px; 
                    &::placeholder {
                        color: var(--ztc-text-text-5);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 16px;  
                    }   
                }
                button {
                    color: var(--ztc-text-text-6);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px; 
                    display: inline-block;
                    transition: all .4s;
                    border-radius: 8px;
                    padding: 16px 20px;
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    z-index: 1;
                    background: var(--ztc-bg-bg-4);
                    border: none;
                    outline: none;
                    &:hover {
                        transform: translateY(-5px);
                        transition: all .4s;
                        color: var(--ztc-text-text-5);
                        &::after {
                            left: 0;
                            top: 0;
                            transition: all .4s;
                            visibility: visible;
                            opacity: 1;
                            width: 100%;
                        }
                    }
                    i {
                        padding-left: 4px;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 10px;
                        left: 50%;
                        transition: all .4s;
                        color: var(--ztc-text-text-5);
                        background: var(--ztc-bg-bg-5);
                        top: 0;
                        z-index: -2;
                        border-radius: 8px;
                        visibility: hidden;
                        opacity: 0;
        
                    }
                }
            }
        }
    }
}

// Homepage 03 //
.cta3-section-area {
    position: relative;
    z-index: 2;
    .cta-bg-area {
        background: var(--ztc-bg-bg-5);
        border-radius: 8px;
        padding: 70px 60px;
        z-index: 2;
        position: relative;
        margin-bottom: -200px;
        overflow: hidden;
        @media #{$xs} {
            padding: 30px;
        }
        @media #{$md} {
            padding: 30px;
        }
        .heading2 {
            position: relative;
            h2 {
                color: var(--ztc-text-text-1);
            }
            .elements17 {
                position: absolute;
                right: -200px;
                @media #{$md} {
                    bottom: -300px;
                    left: 0;
                }

                @media #{$xs} {
                    bottom: -350px;
                    left: 0;
                }
            }
        }
        .cta-author-area {
            position: relative;
            z-index: 1;
            background: #1C3B45;
            transition: all .4s;
            padding: 24px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            margin-top: 32px;
            .icons {
                height: 60px;
                width: 60px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-1);
                transition: all .4s;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
            }
            .text {
                padding-left: 16px;
                p {
                    color: rgba(255, 255, 255, 0.80);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;    
                }
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 20px; 
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-bg-bg-7);
                        transition: all .4s;
                    }      
                }
            }
        }
        .cta-images-area {
            position: relative;
            z-index: 2;

            .img1 {
                position: absolute;
                right: 0;
                z-index: 2;
                top: -150px;
                @media #{$md} {
                    position: relative;
                    top: 100px;
                }
                @media #{$xs} {
                    position: relative;
                    top: 50px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// Homepage 04 //
.cta4-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .cta-header {
        h5 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            text-transform: uppercase;  
            display: block;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s16);
            }   
            img {
                margin: -7px 4px 0 0;
            } 
        }
        h2 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s44);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 54px;
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }       
        }
        .btn-area1 {
            .vl-btn1 {
                background: var(--ztc-bg-bg-1);
                color: var(--ztc-text-text-4);
                &:hover {
                    color: var(--ztc-text-text-1);
                }
                &::before {
                    background: var(--ztc-text-text-4);
                    opacity: 10%;
                }
            }
            .vl-btn1.btn2 {
                border: 1px solid var(--ztc-text-text-1);
                margin-left: 16px;
                background: transparent;
                color: var(--ztc-text-text-1);
                @media #{$xs} {
                    margin-left: 0;
                    margin-top: 20px;
                }
                &::before {
                    background: var(--ztc-bg-bg-1);
                    opacity: 10%;
                }
                &:hover {
                    border: 1px solid var(--ztc-text-text-2);
                }
            }
        }
    }
    .cta-author-area {
        position: relative;
        z-index: 1;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(20px);
        transition: all .4s;
        padding: 24px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin-top: 32px;
        .icons {
            height: 60px;
            width: 60px;
            display: inline-block;
            transition: all .4s;
            background: var(--ztc-bg-bg-1);
            transition: all .4s;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
        }
        .text {
            padding-left: 16px;
            p {
                color: rgba(255, 255, 255, 0.80);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 16px;    
            }
            a {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px; 
                display: inline-block;
                transition: all .4s; 
                &:hover {
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    opacity: 80%;
                }     
            }
        }
    }
}

// Homepage 05 //
.cta5-section-area {
    position: relative;
    z-index: 2;
    .cta-bg-area {
        background: var(--ztc-bg-bg-11);
        border-radius: 8px;
        padding: 70px 60px;
        z-index: 2;
        position: relative;
        margin-bottom: -200px;
        overflow: hidden;
        @media #{$xs} {
            padding: 30px;
        }
        @media #{$md} {
            padding: 30px;
        }
        .heading2 {
            position: relative;
            h2 {
                color: var(--ztc-text-text-1);
            }
            .elements17 {
                position: absolute;
                right: -200px;
                @media #{$md} {
                    bottom: -300px;
                    left: 0;
                }

                @media #{$xs} {
                    bottom: -350px;
                    left: 0;
                }
            }
        }
        .cta-author-area {
            position: relative;
            z-index: 1;
            background: rgba(255, 255, 255, 0.20);
            transition: all .4s;
            padding: 24px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            margin-top: 32px;
            .icons {
                height: 60px;
                width: 60px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-1);
                transition: all .4s;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
            }
            .text {
                padding-left: 16px;
                p {
                    color: rgba(255, 255, 255, 0.80);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;    
                }
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 20px; 
                    display: inline-block;
                    transition: all .4s;      
                }
            }
        }
        .cta-images-area {
            position: relative;
            z-index: 2;

            .img1 {
                position: absolute;
                right: 0;
                z-index: 2;
                top: -150px;
                @media #{$md} {
                    position: relative;
                    top: 100px;
                }
                @media #{$xs} {
                    position: relative;
                    top: 50px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
/*============= CTA CSS AREA ENDS===============*/