@use '../../utils/' as * ;

/*============= OTHERS CSS AREA STARTS ===============*/
// preloader //
.preloader {
  position: fixed;
  background: var(--ztc-bg-bg-2);
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  .loader {
    width: 70px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--ztc-bg-bg-1);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    height: 70px;
  }
  
  @keyframes l3 {
    to {
      transform: rotate(1turn)
    }
  }
 }


//  Page Progress Area //
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: var(--ztc-text-text-1);
 }
 .progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }
 .progress-wrap::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f062";
  text-align: center;
  line-height: 56px;
  font-size: 18px;
  color: var(--ztc-text-text-2);
  left: 0;
  top: 0;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }
 .progress-wrap:hover::after {
  opacity: 0;
  color: var(--ztc-text-text-2);
 }
 .progress-wrap::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f062";
  text-align: center;
  line-height: 56px;
  font-size: 18px;
  opacity: 0;
  left: 0;
  top: 0;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }
 .progress-wrap:hover::before {
  opacity: 1;
  color: var(--ztc-text-text-2);
 }
 .progress-wrap svg path {
  fill: none;
 }
 .progress-wrap svg.progress-circle path {
  stroke: var(--ztc-text-text-2);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }
 .progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }
//  Page Progress Area //

/*============= OTHERS CSS AREA ENDS ===============*/

/*============= MISSION-VISSION CSS AREA STARTS ===============*/
.others-vission-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .mission-vission-area {
    ul {
      justify-content: center;
      li {
        button {
          background: #EDF2F7;
          position: relative;
          z-index: 1;
          border-radius: 8px;
          padding: 40px 95px;
          width: 100%;
          text-align: center;
          width: 370px;
          margin: 0 30px 0 0;
          @media #{$xs} {
            width: 100%;
            margin-bottom: 30px;
            padding: 40px 85px;
          }
          @media #{$md} {
            padding: 32px;
            display: inline-block;
            margin-bottom: 20px;
          }
          &:nth-child(3) {
            margin: 0;
          }
          &.active {
            background: var(--ztc-bg-bg-3);
            .text {
              color: var(--ztc-text-text-1);
              transition: all .4s;
            }
          }
          .icon {
            height: 80px;
            width: 80px;
            text-align: center;
            line-height: 80px;
            display: inline-block;
            transition: all .4s;
            background: var(--ztc-bg-bg-1);
            border-radius: 50%;
          }
          .text {
            color: var(--ztc-text-text-3);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: 600;
            line-height: 32px; 
            display: block;
            transition: all .4s; 
            padding-top: 32px;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        position: relative;
        z-index: 1;
        top: 100px;
        transition: all .4s;
        &.fade.show.active {
          top: 0;
          transition: all .4s;
        }
        .heading1 {
          padding: 0 80px 0 0;
          @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
          }
          @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
          }
          ul {
            li {
              color: var(--ztc-text-text-2);
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s16);
              font-style: normal;
              font-weight: 500;
              line-height: 16px;
              margin-top: 16px;
              img {
                margin: 0 4px 0 0;
              } 
            }
          }
        }
        .img1 {
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
/*============= MISSION-VISSION CSS AREA ENDS ===============*/

/*============= BRAND CSS AREA STARTS ===============*/
.brand1-section-area {
  position: relative;
  z-index: 1;
  background: #EFF1FF;
  overflow: hidden;
  .heading4 {
    position: relative;
    z-index: 1;
    h4 {
      color: var(--ztc-text-text-11);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      font-style: normal;
      font-weight:600;
      line-height: 20px; 
      position: relative;
      z-index: 1;
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 430px;
        left: 0;
        top: 10px;
        transition: all .4s;
        background: var(--ztc-bg-bg-8);
        opacity: 20%;
        @media #{$xs} {
          display: none;
        }
        @media #{$md} {
          display: none;
        }
      } 
      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 430px;
        right: 0;
        top: 10px;
        transition: all .4s;
        background: var(--ztc-bg-bg-8);
        opacity: 20%;
        @media #{$xs} {
          display: none;
        }
        @media #{$md} {
          display: none;
        }
      }  
    }
  }
  .brand-box {
    position: relative;
    z-index: 1;
    background: var(--ztc-bg-bg-1);
    padding: 32px;
    text-align: center;
    border-radius: 8px;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transform: translateY(-5px);
      transition: all .4s;
    }
    img {
      width: 170px;
      height: 50px;
      object-fit: contain;
    }
  }
}
/*============= BRAND CSS AREA ENDS ===============*/

/*============= HEADER SEARCH CSS AREA STARTS ===============*/
.header-search-container form input {
    outline: none;
    border: none;
    background: none;
    font-family: var(--ztc-family-font1);
    font-weight: 500;
  }
  
  .header-search-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 9999;
    background-color: var(--ztc-bg-bg-1);
    transform: translate3d(0, -100%, 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-end;
  }
  
  .header-search-form-wrapper.open {
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-start;
    transform: translate3d(0, 0, 0);
  }
  
  .header-search-form-wrapper .search-form {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .header-search-form-wrapper .search-form input[type=search] {
    height: 65px;
    line-height: 65px;
    font-size: 28px;
    background-color: transparent;
    text-align: left;
    border: none;
    border-bottom: 1px solid #dddbdb;
    padding-left: 0;
    border-radius: 0;
    width: 100%;
    color: var(--ztc-text-text-4);
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-moz-placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]:-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-submit {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #9F9F9F;
    font-size: 24px;
    border: none;
    color: #2B495A;
  }
  
  .header-search-form-wrapper .tx-search-close {
    background: rgba(204, 204, 204, 0.2705882353);
    width: 54px;
    height: 54px;
    border-width: 18px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
  }
  
  .header-search-form-wrapper .tx-search-close::before, .header-search-form-wrapper .tx-search-close::after {
    background-color: var(--color-black);
  }
  
  .header-search-container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    border: 0;
    padding: 0;
    background: 0 0;
    transform: translate3d(0, calc(100% - 100px), 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1);
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }
  
  .header-search-form-wrapper.open .header-search-container {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
/*============= HEADER SEARCH CSS AREA ENDS ===============*/

/*============= ERROR CSS AREA ENDS ===============*/ 
.error-section-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .imgages-content-area {
    position: relative;
    z-index: 1;
    .img1 {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}
/*============= ERROR CSS AREA ENDS ===============*/