@use '../utils/' as *;

/*============= COMMON CSS AREA ===============*/
// HEADING AREA //
.heading1 {
    h5 {
        border-radius: 8px;
        background: rgba(110, 148, 25, 0.10); 
        display: inline-block;
        color: var(--ztc-text-text-4);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 16px;
        text-transform: uppercase; 
        padding: 10px 14px;  
    }
    h2 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s44);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 54px; 
        display: inline-block;
        transition: all .4s;
        @media #{$xs} {
            font-size: var(--ztc-font-size-font-s32);
            line-height: 40px;
        }     
    }
    p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--regular);
        line-height: 24px;  
    }
}

.heading2 {
    h5 {
        border-radius: 8px;
        background: rgba(12, 58, 48, 0.10);
        color: var(--ztc-text-text-5);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s18);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 18px; 
        padding: 8px 10px;
        display: inline-block;   
    }
    h2 {
        color: var(--ztc-text-text-5);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s44);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 54px; 
        display: inline-block;
        transition: all .4s;
        @media #{$xs} {
            font-size: var(--ztc-font-size-font-s32);
            line-height: 40px;
        }     
    }

    p {
        color: var(--ztc-text-text-7);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--regular);
        line-height: 24px;  
    }
}

.heading3 {
    h5 {
        border-radius: 8px;
        background: rgba(3, 37, 48, 0.10);
        color: var(--ztc-text-text-8);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 16px; 
        padding: 8px 10px;
        display: inline-block;   
        text-transform: uppercase;
    }
    h2 {
        color: var(--ztc-text-text-8);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s44);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 54px; 
        display: inline-block;
        transition: all .4s;
        @media #{$xs} {
            font-size: var(--ztc-font-size-font-s32);
            line-height: 40px;
        }     
    }

    p {
        color: var(--ztc-text-text-10);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--regular);
        line-height: 24px;  
    }
}

.heading4 {
    h5 {
        background: linear-gradient(90deg, #2E0797 0%, #726EFC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: var(--ztc-text-text-8);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 16px; 
        padding: 8px 10px;
        display: inline-block;   
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        padding: 10px 14px;
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            border-radius: 80px;
            background: rgba(114, 110, 252, 0.10);
            transition: all .4s;
        }
    }
    h2 {
        color: var(--ztc-text-text-11);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s44);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 54px; 
        display: inline-block;
        transition: all .4s;
        @media #{$xs} {
            font-size: var(--ztc-font-size-font-s32);
            line-height: 40px;
        }     
    }

    p {
        color: var(--ztc-text-text-12);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--regular);
        line-height: 24px;  
    }
}

.heading5 {
    h5 {
        border-radius: 8px;
        background: rgba(251, 133, 0, 0.10);
        color: var(--ztc-text-text-16);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-medium);
        line-height: 16px; 
        padding: 8px 10px;
        display: inline-block;   
        text-transform: uppercase;
    }
    h2 {
        color: var(--ztc-text-text-14);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s44);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 54px; 
        display: inline-block;
        transition: all .4s;
        @media #{$xs} {
            font-size: var(--ztc-font-size-font-s32);
            line-height: 40px;
        }     
    }

    p {
        color: var(--ztc-text-text-15);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--regular);
        line-height: 24px;  
    }
}
// Btn Area //
.vl-btn1 {
    position: relative;
    display: inline-block;
    padding: 18px 24px;
    border-radius: 8px;
    color: var(--ztc-text-text-1) ;
    background: var(--ztc-bg-bg-3);
    z-index: 1;
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s16);
    line-height: 16px;
    font-weight: var(--ztc-weight-semibold);
    transition: all .4s;
    text-transform: uppercase;
    z-index: 1;
    &:hover {
        color: var(--ztc-text-text-1);
        transition: all .4s;
        &::after {
            visibility: visible;
            opacity: 1;
            transition: all .4s;
            width: 100%;
            left: 0;
        }
        &::before {
            background: var(--ztc-bg-bg-1);
            opacity: 10%;
            transition: all .4s;
        }
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        background: var(--ztc-bg-bg-2);
        transition: all .4s;
        top: 0;
        left: 50%;
        border-radius: 8px;
        z-index: -2;
        visibility: hidden;
        opacity: 0;
    }
    &::before {
        position: absolute;
        content: "";
        height: 36px;
        width: 36px;
        display: inline-block;
        transition: all .4s;
        background: #7C9F37;
        border-radius: 50%;
        left: 10px;
        top: 8px;
        z-index: -1;
    }
    
}

.vl-btn2 {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 18px; 
    display: inline-block;
    transition: all .4s;
    border-radius: 8px;
    padding: 16px 20px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
    background: var(--ztc-bg-bg-5);
    border: none;
    outline: none;
    &:hover {
        transform: translateY(-5px);
        transition: all .4s;
        color: var(--ztc-text-text-1);
        &::after {
            left: 0;
            top: 0;
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            width: 100%;
        }
    }
    i {
        padding-left: 4px;
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        left: 50%;
        transition: all .4s;
        color: var(--ztc-text-text-1);
        background: var(--ztc-bg-bg-4);
        top: 0;
        z-index: -2;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;

    }
}  
.vl-btn3 {
        color: var(--ztc-text-text-8);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s18);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 18px; 
        display: inline-block;
        transition: all .4s;
        border-radius: 8px;
        padding: 18px 32px;
        position: relative;
        z-index: 1;
        background: var(--ztc-bg-bg-7);
        text-transform: uppercase;
        @media #{$xs} {
            padding: 16px;
        }
        &:hover {
            transform: translateY(-5px);
            transition: all .4s;
            color: var(--ztc-text-text-1);
            &::after {
                left: 0;
                top: 0;
                transition: all .4s;
                visibility: visible;
                opacity: 1;
                width: 100%;
            }
        }
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 10px;
            left: 50%;
            transition: all .4s;
            color: var(--ztc-text-text-1);
            background: var(--ztc-bg-bg-6);
            top: 0;
            z-index: -2;
            border-radius: 8px;
            visibility: hidden;
            opacity: 0;

        }
}

.vl-btn4 {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s16);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    transition: all .4s;
    padding: 8px 8px 8px 20px; 
    position: relative;
    z-index: 1;
    span {
        color: #2E0797;
    }
    &:hover {
        color: var(--ztc-text-text-1);
        transition: all .4s;
        &::before {
            visibility: visible;
            opacity: 1;
            left: 0;
            width: 100%;
            transition: all .4s;
        }
        span {
            color: #2E0797;
            transition: all .4s;
            transform: rotate(0);
        }
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: var(--04-home-page-maincolors, linear-gradient(90deg, #2E0797 0%, #726EFC 100%));
        border-radius: 100px;
        transition: all .4s;
        z-index: -2;
    }
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        left: 50%;
        top: 0;
        transition: all .4s;
        border-radius: 90px;
        background: var(--04-home-page-maincolors, linear-gradient(90deg, #726EFC 0%, #2E0797 100%));
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }
    span {
        height: 36px;
        width: 36px;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        transition: all .4s;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transform: rotate(-45deg);
        margin-left: 4px;
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: #EDEBF9;
            z-index: -1;
            border-radius: 50%;
        }
    }    
}

.vl-btn5{
    &:hover {
        .arrow {
           margin-left: 4px;
           transition: all .4s; 
           transform: rotate(0);
        }
    }
    .text {
        color: var(--ztc-text-text-1);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 20px; 
        display: inline-block;
        transition: all .4s;
        text-transform: uppercase;  
        padding: 20px 26px; 
        border-radius: 70px;
        background: var(--ztc-bg-bg-11);    
    }
    .arrow {
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        transition: all .4s;
        background: var(--ztc-bg-bg-11);
        color: var(--ztc-text-text-1);
        transform: rotate(-45deg);
        display: inline-block;
        font-size: var(--ztc-font-size-font-s24);
    }
}
/*============= COMMON CSS AREA ENDS===============*/

.image-anime {
    position: relative;
    overflow: hidden;
  }
  
  .image-anime:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }
  
  .image-anime:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
  }
  
  .reveal {
    position: relative;
    display: -ms-inline-flexbox;
    visibility: hidden;
    overflow: hidden;
  }
  
  .reveal img {
    height: 100%;
    width: 100%;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
    transform-origin: left;
  }

  .bg1 {
    background: #EDF2F7;
  }

//   Pagination Area //
.pagination-area {
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    ul {
        justify-content: center;
        li {
            margin: 0 14px 0 0;
            &:last-child(1) {
                margin: 0;
            }
            a {
                color: var(--ztc-text-text-4);
                text-align: center;
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                display: inline-block;
                transition: all .4s;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border: none;
                border-radius: 8px;
                margin: 0;
                padding: 0;
                border-radius: 8px;
                background: var(--3-home-page-graycolors, #EDF2F7);
                &:hover {
                    background: var(--ztc-bg-bg-3);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                }
            }
        }
    }
}