@use '../utils/' as *;

/*
============================
Name:  Finazze - Business & Finance  HTML Templete
Version: 1.0.0
Description: Finazze - Business & Finance  HTML Templete
Author: Unifato
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= SERVICE CSS AREA ===============*/
/*============= WORK CSS AREA ===============*/
/*============= TESTIMONIAL CSS AREA ===============*/
/*============= BLOG CSS AREA ===============*/
/*============= CONTACT CSS AREA ===============*/
/*============= PROJECT CSS AREA ===============*/
/*============= TEAM CSS AREA ===============*/
/*============= FAQ CSS AREA ===============*/
/*============= CASE CSS AREA ===============*/
/*============= CTA CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/
/*============= FOOTER CSS AREA ===============*/